---
import CustomTitle from "../components/CustomTitle.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="About Page">
  <h1>About</h1>
  <h1>Otro</h1>
  <CustomTitle title="es un titulo personalizado"/>

</Layout>

<style>
  h1 {
    color: red;
  }
</style>
